<div class="container-fluid service pt-6 pb-6">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-6 text-uppercase mb-5">
                Ingeniería confiable y de alta calidad
            </h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="/img/service-1.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                Mantenimiento industrial
                            </h5>
                            <p>
                                Implementamos mantenimiento preventivo y predictivo para maximizar la eficiencia de sus
                                equipos.
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Leer más
                            <i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="/img/service-2.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                Mantenimiento mecánico
                            </h5>
                            <p>
                                Ofrecemos mantenimiento preciso para bombas, compresores y motores industriales.
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Leer más
                            <i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="/img/service-3.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                Mantenimiento eléctrico
                            </h5>
                            <p>
                                Diagnosticamos y corregimos fallas en sistemas de potencia, garantizando la
                                confiabilidad y seguridad.
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Leer más
                            <i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="/img/service-4.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                Mantenimiento a briqueteras
                            </h5>
                            <p>
                                Mediante diagnóstico y análisis de vibraciones, garantizamos la alineación de tus
                                briqueteras.
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Leer más
                            <i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="/img/service-5.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                Reconst. de compresores
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus augue.
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Leer más
                            <i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="/img/service-6.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                Ingeniería
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus augue.
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Leer más
                            <i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="/img/service-7.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                Metalmecánica
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus augue.
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Leer más
                            <i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-inner pb-5">
                        <img class="img-fluid w-100" src="/img/service-8.jpg" alt="">
                        <div class="service-text px-5 pt-4">
                            <h5 class="text-uppercase">
                                Suministros
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus augue.
                            </p>
                        </div>
                        <a class="btn btn-light px-3" href="">
                            Leer más
                            <i class="bi bi-chevron-double-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
