<div class="container-fluid bg-primary text-white d-none d-lg-flex wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-3">
        <div class="d-flex align-items-center">
            <a href="index.html">
                <img width="153" height="45" src="https://m2bgroup.us/wp-content/uploads/2024/12/m2b2.svg"
                     alt="Logo de M2B"/>
            </a>
            <div class="ms-auto d-flex align-items-center">
                <small class="ms-4">
                    <i class="fa fa-map-marker-alt me-2"></i>
                    UD-304, Puerto Ordaz, Vzla.
                </small>
                <small class="ms-4">
                    <i class="fa fa-envelope me-2"></i>
                    web@m2bgroup.us
                </small>
                <small class="ms-4">
                    <i class="fa fa-phone-alt me-2"></i>
                    +58 414 871 3299
                </small>
                <div class="ms-3 d-flex">
                    <a class="btn btn-sm-square btn-light text-primary ms-2" href="">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-sm-square btn-light text-primary ms-2" href="">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-sm-square btn-light text-primary ms-2" href="">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
